@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

body{
    background-image: url(../storage/img/FamiliaFeliz.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    background: var(--nuevo-primario);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
}

.header i {
    padding: 0px 100px;
    font-size: 3em;
    color: var(--color-ternario);
}

.main__header{
    /*background: blue;*/
    width: 100%;
    height: 7vh;
}

.main_header__text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header__text .h1{
    color: var(--color-ternario);
    text-transform: uppercase;
    font-size: 5vh;
}

.main_mid__cedula{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cedula{
    color: var(--color-ternario);
}

.main_mid__documento{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#documento::placeholder{
    color: var(--color-ternario);
    padding: 0px 10px;
}

.main_mid__checkbox{
    color: var(--color-ternario);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.main_mid__clave{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.main_mid__clave .a{
    touch-action: none;
    color: var(--color-cuarto);
}

.main_bottom{
    /*background: yellow;*/
    width: 100%;
    height: 40vh;
}

.main_bottom__top{
    /*background: red;*/
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_bottom__top button{
    background: var(--color-sexto);
    color: var(--color-ternario);
    border: 1px solid var(--color-sexto);
    border-radius: 20px;
    width: 35%;
    height: 60%;
    text-transform: capitalize;
}

.main_bottom__bottom{
    /*background: lawngreen;*/
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

.main_bottom__bottom button{
    background: var(--nuevo-primario);
    color: var(--color-ternario);
    border: 1px solid var(--color-sexto);
    width: 25%;
    height: 40%;
    text-transform: capitalize;
}

.main_bottom__image{
    /*background: lightblue;*/
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img{
    width: 2em;
}