<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <i class='bx bx-menu'></i>
    </header>
    <main class="main">
        <section class="main__header">
            <article class="main_header__text">
                <h1 class="h1">daviplata</h1>
            </article>
        </section>
        <section class="main__up">
            <article class="main__top">
                <article>
                    <h4>disponible</h4>
                </article>
                <article>
                    <p>$3.300</p>
                </article>
            </article>
        </section>
        <section class="main__lowtop">
            <h4><span class="bigger_text">¿que</span> quiere hacer con su plata?</h4>
        </section>
        <section class="main_mid">
            <article class="main_icons">
                <ul class="icons">
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                </ul>
                <br>
                <ul class="icons">
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                    <li><i class='bx bxs-dollar-circle'></i></li>
                </ul>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/Icon_1__selected.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon4White.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>